body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 40px;
}
.head-color{
    color:salmon;
}
.flexible-container{
    display: flex;
    margin-bottom: 100px;
    padding-left: 5px;
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;

}
.link-button{
    text-decoration: none;
    background-color: salmon;
    background-image: linear-gradient(orange, salmon);
    color: white;
    font-weight: 400;
    border-radius: 5px;
    padding: 10px 40px;
}
.link-button:hover{
    background-image: linear-gradient(blue, pink);
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    text-align: justify;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position:right;
    text-align: justify;
    padding-right: 10px;  
}
.experience-sec{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.experience-area{
    text-align: justify;
    width: 40%;
    margin:5%;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 30px;
    box-shadow: 10px 10px 30px  grey;
    border-left: 10px solid;
}
#pro{
    border-left: 7px solid;
    border-image:linear-gradient(orange, red);
    border-image-slice: 1;
    border-radius: 8px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 20px;
}
#baby{
    border-left: 7px solid;
    border-image:linear-gradient(blue, cyan);
    border-image-slice: 1;
    border-radius:  8px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 20px;
}